/* responsive css start */
@media (min-width: 1140px) {
  .container {
    max-width: 1040px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
@media (min-width: 1350px) {
  .container {
    max-width: 1250px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1350px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1450px;
  }
}
@media (max-width: 1799px) {
  .hero-content {
    max-width: 550px;
  }
  .heading-title.big-heading-title {
    font-size: 50px;
  }
}
@media (max-width: 1599px) {
  :root {
    --section-spacing: 100px;
  }
}
@media (max-width: 1365px) {
  :root {
    --section-spacing: 70px;
  }
}
@media (max-width: 1199px) {
  .primary-btn {
    min-width: 160px;
  }
  :root {
    --section-big-spacing: 80px;
    --section-mid-spacing: 50px;
  }
}
@media (max-width: 991px) {
  :root {
    --header-less-spacing: 70px;
  }
}
@media (max-width: 767px) {
  header,
  header.fixed {
    padding: 8px 0;
  }
  :root {
    --section-big-spacing: 50px;
    --section-mid-spacing: 40px;
  }
}
@media (max-width: 575px) {
  .primary-btn {
    min-width: 110px;
    font-size: 14px;
    padding: 7px 15px;
    min-height: 40px;
  }
}
@media (max-width: 374px) {
  
}
/* responsive css end */
